.list-group {
  width: 22%;
  border: 1px solid #b7b2b2;


  .single-cat {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid #b7b2b2;
    cursor: pointer;
    transition: .1s ease-in;

    box-shadow: -1px 1px 4px -1px rgba(178, 175, 175, 0.75);
    .cat-name {
      font-size: 17px;

    }

    .age {
      color: white;
      background: gray;
      padding: 2px 10px;
      border-radius: 20px;
      justify-content: center;
      display: flex;
      font-weight: bolder;
    }


  }
  .active {
    background: #1993e5;
    color: white;
  }
}

@media (max-width: 900px) {

.list-group{
width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
}
}
@media (max-width: 550px) {
  .list-group{
    width: 100%;
    display: inline-grid;
    grid-template-columns:1fr  ;
  }

}