.app {
  padding: 30px 60px;

  .header {
    border-top: 2px solid #b7b2b2;
    border-bottom: 2px solid #b7b2b2;
    padding: 15px 0;

    h2 {
      color: rgba(0, 0, 0, 0.71);
    }

  }

  .wrapper {

    display: flex;
    //justify-items: flex-start;
    flex-wrap: wrap;
    //width: 100%;
    gap: 50px;
    margin-top: 15px;
  }

  a {
    color: #1993e5;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
  }
}
;

@media (max-width: 900px) {
  .wrapper{
    display: flex;
    flex-direction: column;
  }

}