
.card-wrapper {
  width: 45%;


  .card {

    border: 1px solid gray;
    padding-bottom: 20px;

    .card-header {
      margin: 15px;

      h4 {
        font-size: 20px;
      }
    }

    img {
      width: 100%;
      height: 150px;
      object-fit: cover;
    }

    .nickname {
      p, a {
        margin: 15px 20px;
      }

    }
  }
}
