
.card-wrapper {
  max-width: 50%;


  .card {

    border: 1px solid gray;
    padding-bottom: 20px;
    width: 400px;
    height: 500px;
    box-shadow: -1px 1px 4px -1px rgba(178, 175, 175, 0.75);
    .card-title {
      margin: 15px;

      h4 {
        font-size: 22px;
        margin-bottom: 5px;
      }
      p{
        font-weight: 400;
      }
    }

    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      cursor: pointer;
    }

    .card-body {
      .nick{
        display: flex;
        gap: 3px;
      }
      p, a {
        margin: 15px 20px;
        font-size: 18px;
      }

    }
  }
}
@media (max-width: 900px) {
  .card-wrapper{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .card{

      width: 100%;


    }
  }

}